@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,700,800&display=swap');
.container{
    width: 1352px;
    margin: 0 auto;
}
/*navigation styling*/
header{
    width: 100vw;
    height: 7vh;
    background: #FFFFFF no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    justify-content: center;
    position: fixed;
    margin-bottom: 130px;
    z-index: 2;
}
nav{
    display: flex;
    justify-content: space-around;
}
.logo{
    line-height: 7vh;
    font-size: 37px;
    color: #08A6E4;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-decoration: none;
}
ul.navigation {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}
ul.navigation li{
    display: flex;
    align-items: stretch;
}
ul.navigation a{
    font-size: 11px;
    box-sizing: border-box;
    height: 7vh;
    line-height: 7vh;
    text-decoration: none;
    text-transform: uppercase;
    color: #A5A5A5;
    letter-spacing: 3px;
    border-bottom: 3px solid white;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
ul.navigation a:hover{
    border-bottom: 3px solid #08A6E4;
    color: black;
}
/*styling for triggerMenu*/
.hamburger{
    display: none;
}
.triggerMenu {
    height: 20vw;
    width: 100%;
    background-color: #ffffff;
    display: none;
    margin-top: 6px;
}
.visible{
    display: block;
}
.triggerMenu ul {
    height: 100%;
    padding: 2vh 2vw;
    box-sizing: border-box;
}

.triggerMenu li{
    height: 25%;
}
.triggerMenu a {
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #A5A5A5;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}
.triggerMenu a:hover {
    color: black;
}
/*first section styling*/
.main__section .container{
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 200px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 49px;
    padding: 4px;
}
.main__section p{
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}
.main__section a{
    background: #08A6E4 no-repeat padding-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    height: 7vh;
    border-radius: 40px;
    width: 30%;
    text-align: center;
    line-height: 7vh;
    margin: 20px auto;
}
.background-image{
    background: url("../assets/Background.png") center no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}
/*second section styling*/
h2{
    text-align: center;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
#why__us__section h2{
    padding: 10vh 0;
}
.icon__box{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.icon__box__content{
    padding: 2vh 2vw;
    height: 20vh;
    width: 20vh;
}
.single__icon{
    margin: 0 auto;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.circle{
    height: 100%;
    width: 100%;
    background: #55DFB4;
    border-radius: 50%;
    display: flex;
}
.icon{
    height: 90%;
    width: 90%;
    position: relative;
    top: 5%;
    left: 45%;
}
.red{
    background: #FB3B64;
}
.blue{
    background: #08A6E4;
}
.green{
    background: #55DFB4;
}
.icon__person{
    background: url("../assets/Person.svg") center no-repeat;
    background-size: contain;
}
.icon__eye{
    background: url("../assets/Eye.svg") center no-repeat;
    background-size: contain;
}
.icon__catalog{
    background: url("../assets/Catalog.svg") center no-repeat;
    background-size: contain;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 2vw;
    padding: 20px;
    text-align: center;
}
#why__us__section p{
    font-size: 1.4vw;
    color: #A5A5A5;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
/*third section*/
#benefits__section {
    background: #F7F7F7;
    padding: 6vh 0;
}
.benefits__box {
    background: white;
    margin: 3vh auto;
    height: 37vh;
    width: 100%;
    box-shadow: 0 0 10px #E8E9ED;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#benefits__section h2{
    padding: 3px;
    text-align: left;
    margin-bottom: 5vh;
}
.line {
    margin-top: 5vh;
    width: 80%;
    height: 4px;
    display: block;
}
.benefits__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 4% 5%;
    width: 50%;
    height: 100%;
}
.benefits__image{
    width: 50%;
    padding: 4% 5%;
    height: 100%;
    box-sizing: border-box;
}

.desktop {
    background: url("../assets/Macbook.png") center no-repeat;
    transform: rotate(-45deg);
    width: 200%;
    height: 100%;
    background-size: contain;
    position: relative;
    top: 50%;
    left: -65%;
}
.desktop__bg {
    display: block;
    background: #FB3B64;
    transform: rotate(45deg);
    border-radius: 20%;
    width: 40%;
    height: 80%;
    position: relative;
    left: 40%;

}
.phone {
    background: url("../assets/iPhone.png") center no-repeat;
    width: 120%;
    height: 100%;
    background-size: contain;
    position: relative;
    left: 10%;
    top: 6%;
}
.phone__bg {
    display: block;
    background: #07ACE6;
    border-radius: 50%;
    width: 50%;
    height: 100%;

}
.benefits__separated {
    margin: 3vh auto;
    height: 37vh;
    display: flex;
    justify-content: space-between;
}
.benefits__separated__content {
    background: white;
    box-shadow: 0 0 1vh #E8E9ED;
    border-radius: 5px;
    width: 60%;
}
.trumpet {
    background: #55DFB4;
    box-shadow: 0 0 10px #E8E9ED;
    border-radius: 5px;
    width: 35%;
}
.benefits__separated__content > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 4%;
}
.trumpet > div {
    background: url("../assets/Trumpet.png") no-repeat;
    background-size: contain;
    width: 90%;
    height: 75%;
    position: relative;
    top: 25%;
}
/* Prices section */
#prices {
    margin: 5vh auto;
}
.prices__elements {
    margin: 3vh auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prices__item {
    width: 25%;
    height: 461px;
    background: #FFFFFF;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    position: relative;
}
.prices__item:last-of-type {
    border: 1px solid #55DFB4;
}
.prices__item h2 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
.recommended {
    width: 30%;
    height: 500px;
    margin: 50px 1vw;
    background: #FFFFFF no-repeat padding-box;
    box-shadow: 5px 10px 27px #07ACE629;
    border: 1px solid #07ACE6;
    position: relative;
}
.price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.price h3 {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 700;
}
.price p {
    font-size: 40px;
    font-weight: 300;
}
.recommended .price > p {
    color: #07ACE6;
}
.prices__item:first-of-type .price p {
    color: #FB3B64;
}
.prices__item:last-of-type .price p {
    color: #55DFB4;
}
.prices__elements ul {
    list-style: none;
    line-height: 2em;
    text-align: center;
    margin-bottom: 50px;
}
.prices__button {
    display: block;
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 23px;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    bottom: -25px;
}
.prices__basic li:nth-of-type(n)::before{
    content: "";
    display: inline-block;
    background: url("../assets/Ckechmark-1.svg") no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
    margin-right: 10px;
}
.prices__basic li:nth-of-type(n+4)::before{
    content: "";
    display: inline-block;
    background: url("../assets/Close.svg") no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
}
.recommended li:nth-of-type(n)::before{
    content: "";
    display: inline-block;
    background: url("../assets/Ckechmark-1.svg") no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
    margin-right: 10px;
}
.recommended li:last-of-type::before{
    content: "";
    display: inline-block;
    background: url("../assets/Close.svg") no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
    margin-right: 10px;
}
.prices__item ul.ul_premium li:nth-of-type(n)::before{
    content: "";
    display: inline-block;
    background: url("../assets/Ckechmark-1.svg") no-repeat;
    background-size: cover;
    height: 14px;
    width: 14px;
    margin-right: 10px;
}
/*Contact  styling */
#contact .container {
    display: flex;
    margin: 6vh auto;
    justify-content: center;
    align-items: flex-start;
}
.contact__details {
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    line-height: 4rem;

}
.contact__form{
    width: 35%;
}
.contact__info {
    display: flex;
    justify-content: space-between;
}
.contact__details h2 {
    font-size: 49px;
}
.contact__info a {
    text-decoration: none;
    color: #A5A5A5;
    font-weight: 700;
    margin-right: 20px;
}
.contact__info a::before {
    content: "";
    display: inline-block;
    background-image: url("../assets/Mail Icon.svg");
    width: 27px;
    height: 27px;
    margin-right: 5px;
    vertical-align: middle;
}
.contact__info p {
    color: #A5A5A5;
    font-weight: 700;
}
.contact__info p::before {
    content: "";
    display: inline-block;
    background-image: url("../assets/Phone Icon.svg");
    width: 27px;
    height: 27px;
    margin-right: 5px;
    vertical-align: middle;
}
/* form  */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #A5A5A5;
}
div.checkbox{
    display: flex;
}
.form__fields {
    width: 100%;
    margin: 20px auto;
}
.form__label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    color: #08A6E4;
    font-weight: 700;
    line-height: 2rem;
}
form input[type=text] {
    outline: 0;
    width: 100%;
    border-width: 0 0 2px;
    border-color: #A5A5A5;
    padding: 10px;
}
.submit__button {
    align-self: flex-end;
}
button[type=submit] {
    width: 226px;
    height: 57px;
    border: none;
    background: #08A6E4 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    margin: 3vh auto;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    vertical-align: middle;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #95989A;
    outline: none;
    margin-right: 10px;
    position: relative;
}
input[type="checkbox"]:checked:after {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    background-image: url("../assets/Checkmark.svg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
form label {
    font-size: 12px;
    color: #A5A5A5;
    line-height: 16px;
}
/* Footer */
footer {
    height: 9vh;
    width: 100%;
    background: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
}
footer .container {
    width: 90vw;
    padding: 2vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo p:first-of-type {
    color: #08A6E4;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
}
.footer__logo p:nth-of-type(2){
    font-size: 11px;
    color: #A5A5A5;
}
.social {
    text-decoration: none;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.twitter {
    background-image: url("../assets/Twitter.svg");
}
.facebook {
    background-image: url("../assets/Facebook.svg");
}

/*First rwd breakpoint*/

@media screen and (min-width: 1001px) and (max-width: 1352px) {
    .container{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .benefits__box{
        height: 25vw;
    }
    .benefits__separated{
        height: 25vw;
    }

}

/*Mobile view*/

@media screen and (max-width: 1000px) {
    .container{
        width: 100vw;

    }
    /*navigation*/
    nav{
        justify-content: space-between;
        padding: 0 4vw;
        box-sizing: border-box;
        width: 100%;
    }
    ul.navigation{
        display: none;
    }
    .hamburger{
        display: block;
    }
    /*main section*/
    .main__section a{
        width: 90%;
    }
    /*why us section*/
    h3{
        font-size: 4vw;
    }
    #why__us__section p {
        font-size: 3vw;
    }
    .icon__box{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .icon__box__content{
        height: 40vw;
        width: 40vw;
    }
    /*benefits section*/
    .benefits__box{
        flex-direction: column;
        height: 100vw;
        margin: 3vh 5%;
        width: 90%;
    }
    #benefits__section h2{
        margin-bottom: 5vw;
        font-size: 6vw;
    }
    #benefits__section p{
        font-size: 3vw;
    }
    .line{
        display: none;
    }
    .benefits__box:first-of-type{
        flex-direction: column-reverse;
    }
    .benefits__text, .benefits__image{
        height: 100%;
        width: 100%;
        padding: 4% 5%;
    }
    .desktop__bg{
        width: 35%;
        height: 70%;
        left: 50%;
        border-radius: 45%;
    }
    .phone__bg{
        width: 50%;
        margin: 0 auto;
    }
    .benefits__separated {
        flex-direction: column;
        height: 100vw;
        margin: 3vh 5vw;
        width: 90%;
    }
    .benefits__separated__content{
        height: 100%;
        width: 100%;
    }
    .trumpet {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .trumpet > div {
        width: 60%;
        margin: 0 auto;
    }
    /*pricing*/
    .prices__elements {
        flex-direction: column;
    }
    .prices__item{
        flex-direction: row;
        height: 25vh;
        width: 80%;
    }
    .recommended{
        height: 30vh;
        width: 90%;
    }
    .prices__item h3{
        margin: 0;
        letter-spacing: normal;
    }
    .prices__item ul{
        text-align: left;
        margin-bottom: 0;
    }
    /*contact*/
    #contact .container {
        flex-direction: column;
    }
    .contact__details, .contact__form{
        width: 100%;
        padding: 2vh 10vw;
        box-sizing: border-box;
    }
}
